  .content {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .sources {
    display: flex;
    flex-direction: column;
    color: #6D9F74;
  }

  .authors {
    display: flex;
    flex-direction: row;
  }

  .title {
    font-size: 18px;
    color: rgb(39, 39, 179);
  }