<div class="site">
    <header class="header">
        <div class='container'>
            <div class="left-header">
                <a href="/" class="theme-styled-logo">
                    <img class="inline img" src="/assets/logo.png" />
                </a>
                <a href="/" class="top-title"> <!-- Raw link instead of a router navigate; we don't want to keep state -->
                    <h1 class="title">
                        MediSia
                    </h1>
                </a>
            </div>
        </div>
    </header>
    <mat-divider></mat-divider>
    <router-outlet class="Site-content"></router-outlet>
    <div class="footer theme-styled-even-darker-background">
        <div class="footer-text">
            <p>
                Search results provided are not the property
                of <span class="nowrap">MediSia</span> and may be protected
                by trademark, copyright, patent and other laws. Please be respectful 
                of the sources.
            </p>
        </div>
    </div>
</div>